.containerr{
    display: flex;
}
.line{
    margin-top: 0.2rem;
    width: 70%;
}
.shopping{
    position: relative;
    margin-left: 25px;
    padding-left: 20px;
    padding-top: 1.7rem;
}
.cart{
    font-size: 28px;
    position:absolute;
    margin-top: -3px;
    left: -15px;
}
.no{
    margin-top: 15px;
    margin-left: 25px;
}
.leftpart{
flex: 0.7;
background-color: rgb(255, 255, 255);
height:auto;
}
.rightpart{
    margin-top: 2rem;
    margin-left: 1rem;
    flex: 0.3;
    background-color: rgb(192, 220, 221);
    height:45vh;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.total{
    margin-top: 2rem;;
padding-top:1rem ;
background-color: rgb(228, 157, 5);
height:5rem;
width:15rem;
border-radius: 3px;
}
.total >p{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 0.1rem;;
}
.total>p:first-child{
    font-size: 1.7rem;
}